
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    text-align: center;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input {
    width: calc(50% - 10px);
}

#task-list, #completed-task-list {
    list-style: none;
    padding: 0;
}

.task {
    background: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed {
    text-decoration: line-through;
    background: #d1ffd1;
    border-radius: 10px;  
}

.task button {
    background: none;
    border: none;
    cursor: pointer;
}
